/AliceBob/nbproject/private/
/AliceBob/build/
/grading/nbproject/private/
/grading/build/
/Reversing/nbproject/private/
/Reversing/build/
/MagicMatrix/nbproject/private/
/MagicMatrix/build/
/labTask2/nbproject/private/
/labTask2/build/
/sample/nbproject/private/
/sample/build/
/LinkedListTask3/nbproject/private/
/LinkedListTask3/build/
/array1/nbproject/private/
/array1/build/
/DS_Assignment_1(18556)/nbproject/private/
/DSAssignment_1/nbproject/private/
/DSAssignment_1/build/
/LabTask6/nbproject/private/
/LabTask6/build/
/labTask7/nbproject/private/
/labTask7/build/
/FilesToString/nbproject/private/
/FilesToString/build/
/ExpressionEvaluation/nbproject/private/
/ExpressionEvaluation/build/
/SplitOfLL/nbproject/private/
/SplitOfLL/build/
/InfixtoPrefix/nbproject/private/
/InfixtoPrefix/build/
/sortStacks/nbproject/private/
/sortStacks/build/
/Genstack/nbproject/private/
/labexam1/nbproject/private/
/labexam1/build/
/labexam/nbproject/private/
/labexam/build/
/BST/nbproject/private/
/leftLeaves/nbproject/private/
/tempBST/nbproject/private/
/BST/build/